FBc/.vs/
CompilerInfrastructure/.vs/
LLVMCodeGenerator/.vs/
CompilerInfrastructure/CompilerInfrastructure/obj/
LLVMCodeGenerator/PInvokeGenerator/bin/
FBc/FBc/obj/
FBc/FBc/bin/
LLVMCodeGenerator/LLVMCodeGenerator/bin/
SimpleClangCompilerInterface/SimpleClangCompilerInterface/x64/
LLVMCodeGenerator/LLVMCodeGenerator/obj/
LLVMCodeGenerator/UnitTestProject1/bin/
FBc/UnitTestProject1/bin/
LLVMCodeGenerator/PInvokeGenerator/obj/
LLVMCodeGenerator/UnitTestProject1/obj/
SimpleClangCompilerInterface/Debug/
SimpleClangCompilerInterface/x64/
SimpleClangCompilerInterface/.vs/
FBc/UnitTestProject1/obj/
LLVMInterface/.vs/
LLVMInterface/LLVMInterface/x64/
LLVMInterface/x64/
.vs/
FB_JIT/FB_JIT/Debug/
FB_JIT/FB_JIT/x64/
x64/
LLVMInterface/LLVMInterface/Release/
